### Chargement des librarires nécessaires à l'exploitation des données :

In [30]:
import pandas as pd
import seaborn as sns
import matplotlib as plt
import numpy as np

### Chargement des bases de données liées aux utilisateurs avec la méthode "read_csv" de pandas pour les années 2017 à 2021 :

In [31]:
df_user_2021 = pd.read_csv("data/usagers-2021.csv", sep=';')
df_user_2020 = pd.read_csv("data/usagers-2020.csv", sep=';')
df_user_2019 = pd.read_csv("data/usagers-2019.csv", sep=';')
df_user_2018 = pd.read_csv("data/usagers-2018.csv", sep=',')
df_user_2017 = pd.read_csv("data/usagers-2017.csv", sep=',')

### Ajouter une colonne 'année_accident' pour chaque dataframe :

In [32]:
df_user_2021 = df_user_2021.assign(annee_accident=2021)
df_user_2020 = df_user_2020.assign(annee_accident=2020)
df_user_2019 = df_user_2019.assign(annee_accident=2019)
df_user_2018 = df_user_2018.assign(annee_accident=2018)
df_user_2017 = df_user_2017.assign(annee_accident=2017)

### Utiliser la méthode concat afin de rassembler les cinq dataframes :

In [33]:
df = [df_user_2017, df_user_2018, df_user_2019, df_user_2020, df_user_2021]
user_2017_2021 = pd.concat(df)

In [34]:
user_2017_2021

,Num_Acc,place,catu,grav,sexe,trajet,secu,locp,actp,etatp,an_nais,num_veh,annee_accident,id_vehicule,secu1,secu2,secu3
0,201700000001,1.0,1,3,1,9.0,13.0,0.0,0.0,0.0,1968.0,B01,2017,NaN,NaN,NaN,NaN
1,201700000001,2.0,2,3,2,9.0,11.0,0.0,0.0,0.0,1973.0,B01,2017,NaN,NaN,NaN,NaN
2,201700000001,1.0,1,3,1,1.0,13.0,0.0,0.0,0.0,1967.0,A01,2017,NaN,NaN,NaN,NaN
3,201700000002,1.0,1,1,1,0.0,11.0,0.0,0.0,0.0,1953.0,A01,2017,NaN,NaN,NaN,NaN
4,201700000002,1.0,1,3,1,5.0,22.0,0.0,0.0,0.0,1960.0,B01,2017,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129148,202100056516,1.0,1,4,1,0.0,NaN,0.0,0,-1.0,1975.0,A01,2021,100 885,1.0,-1.0,-1.0
129149,202100056516,1.0,1,4,1,5.0,NaN,0.0,0,-1.0,2002.0,B01,2021,100 886,1.0,-1.0,-1.0
129150,202100056517,1.0,1,3,1,0.0,NaN,0.0,0,-1.0,1999.0,A01,2021,100 884,0.0,-1.0,-1.0
129151,202100056518,1.0,1,3,1,3.0,NaN,-1.0,-1,-1.0,1968.0,A01,2021,100 882,1.0,0.0,-1.0
129152,202100056518,1.0,1,3,1,3.0,NaN,-1.0,-1,-1.0,1985.0,B01,2021,100 883,1.0,0.0,-1.0