### Chargement des librarires nécessaires à l'exploitation des données :

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib as plt
import numpy as np

### Chargement des bases de données liées aux caracteristiques avec la méthode "read_csv" de pandas pour les années 2017 à 2021 :

In [2]:
df = pd.read_csv("data/caracteristiques-2021.csv", sep=';')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56518 entries, 0 to 56517
Data columns (total 15 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Num_Acc  56518 non-null  int64
 1   jour     56518 non-null  int64
 2   mois     56518 non-null  int64
 3   an       56518 non-null  int64
 4   hrmn     56518 non-null  object
 5   lum      56518 non-null  int64
 6   dep      56518 non-null  object
 7   com      56518 non-null  object
 8   agg      56518 non-null  int64
 9   int      56518 non-null  int64
 10  atm      56518 non-null  int64
 11  col      56518 non-null  int64
 12  adr      55945 non-null  object
 13  lat      56518 non-null  object
 14  long     56518 non-null  object
dtypes: int64(9), object(6)
memory usage: 6.5+ MB

In [4]:
df = df.rename(columns={'jour':'day', 'mois':'month', 'an':'year'})

In [5]:
#regroupe les trois colonnes jour/mois/année en une seule au format adapté
df['date'] = pd.to_datetime(df[['year', 'month', 'day']])

In [7]:
df_caracteristiques_2021 = pd.read_csv("data/caracteristiques-2021.csv", sep=';')
df_caracteristiques_2020 = pd.read_csv("data/caracteristiques-2020.csv", sep=';')
df_caracteristiques_2019 = pd.read_csv("data/caracteristiques-2019.csv", sep=';')
df_caracteristiques_2018 = pd.read_csv("data/caracteristiques-2018.csv", sep=',')
df_caracteristiques_2017 = pd.read_csv("data/caracteristiques-2017.csv", sep=',')

### Ajouter une colonne 'année_accident' pour chaque dataframe :

In [9]:
df_caracteristiques_2021 = df_caracteristiques_2021.assign(annee_accident=2021)
df_caracteristiques_2020 = df_caracteristiques_2020.assign(annee_accident=2020)
df_caracteristiques_2019 = df_caracteristiques_2019.assign(annee_accident=2019)
df_caracteristiques_2018 = df_caracteristiques_2018.assign(annee_accident=2018)
df_caracteristiques_2017 = df_caracteristiques_2017.assign(annee_accident=2017)

### Utiliser la méthode concat afin de rassembler les cinq dataframes :

In [12]:
df = [df_caracteristiques_2017, df_caracteristiques_2018, df_caracteristiques_2019, df_caracteristiques_2020, df_caracteristiques_2021]
caracteristiques_2017_2021 = pd.concat(df)

In [13]:
caracteristiques_2017_2021 = caracteristiques_2017_2021.rename(columns={'jour':'day', 'mois':'month', 'an':'year'})

In [16]:
caracteristiques_2017_2021

,Num_Acc,year,month,day,hrmn,lum,agg,int,atm,col,com,adr,gps,lat,long,dep,annee_accident
0,201700000001,17,1,11,1820,5,2,1,1.0,1.0,477,rue nationale,M,5051326.0,292191.0,590,2017
1,201700000002,17,2,13,1630,1,2,3,1.0,3.0,5,5 rue sonneville,M,5053611.0,295314.0,590,2017
2,201700000003,17,3,7,1150,1,2,9,1.0,5.0,52,rue Jules Guesde,M,5052174.0,288786.0,590,2017
3,201700000004,17,4,22,1300,1,2,1,1.0,6.0,5,46 rue Sonneville,M,5053723.0,295700.0,590,2017
4,201700000005,17,5,20,1230,1,2,1,1.0,2.0,11,Rue roger salengro,M,5052999.0,293798.0,590,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56513,202100056514,2021,1,1,06:10,3,1,1,5.0,6.0,33021,NaN,NaN,"44,5266190000","-0,1955440000",33,2021
56514,202100056515,2021,1,1,10:20,1,1,1,2.0,6.0,38405,D520,NaN,"45,3802910000","5,7049140000",38,2021
56515,202100056516,2021,1,1,18:00,3,1,1,2.0,1.0,26064,Route départementale 538,NaN,"44,9112100000","5,0196360000",26,2021
56516,202100056517,2021,1,1,10:55,1,1,2,1.0,6.0,33003,Voie rapide Bassens Ambes,NaN,"44,9542747363","-0,5179211363",33,2021
56517,202100056518,2021,1,2,18:00,3,1,1,3.0,1.0,78423,VOLTA (AVENUE),NaN,"48,7966700000","2,0505000000",78,2021

In [15]:
#regroupe les trois colonnes jour/mois/année en une seule au format adapté
caracteristiques_2017_2021['date'] = pd.to_datetime(caracteristiques_2017_2021[['year', 'month', 'day']])

ValueError: cannot assemble the datetimes: time data '170307' does not match format '%Y%m%d' (match)